.numbers {
    height: 55px;
    width: 55px;
    background-color: #505050;
    border-radius: 50%;
    display: inline-block;
    color: white;
}

.symbols {
    height: 55px;
    width: 55px;
    background-color: #FF9500;
    border-radius: 50%;
    display: inline-block;
    color: white;
}

.top-symbols {
    height: 55px;
    width: 55px;
    background-color: #D4D4D2;
    border-radius: 50%;
    display: inline-block;
    color: #000000;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    padding: 8px;
    border-radius: 20px;
}

.grid-item {
    border: none;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}

.twoItemButton {
    grid-column: 1 / 3;
}
