.calculatorContainer {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    width: 320px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #000;
    border-radius: 28px;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1e;
}

.displayContainer {
    text-align: center;
    border: 1rem;
    border-style: solid;
    border-width: medium;
    border-radius: 10px;
    margin: 10px;
    font-size: larger;
}
